@model StudentHubMVC.Models.ViewModels.APIcet

<div class="x_panel" style="border-color: #26b99a; border-width: 2px; ">
    <div class="x_content">
        <h3 style="text-align: center;">AP ICET Results</h3>
        <div class="row">
            <div class="col-md-6">
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td><b>Hall Ticket Number</b></td>
                                <td>@Model.HallTicketNumber</td>
                            </tr>
                            <tr>
                                <td><b>Name</b></td>
                                <td>@Model.FullName</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-6">
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td><b>Total</b></td>
                                <td>@Model.Total</td>
                            </tr>
                            <tr>
                                <td><b>Rank</b></td>
                                <td><b style="color: red;">@Model.Rank</b></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td><b>Section A</b></td>
                                <td>@Model.SecA</td>
                            </tr>
                            <tr>
                                <td><b>Section B</b></td>
                                <td>@Model.SecB</td>
                            </tr>
                            <tr>
                                <td><b>Section C</b></td>
                                <td>@Model.SecC</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>