@model StudentHubMVC.Models.ViewModels.TSYr2RegResult

<div class="x_panel" style="border-color: #26b99a; border-width: 2px; ">
    <div class="x_content">
        <h3 style="text-align: center;">@Model.Exam Results</h3>
        <div class="table-responsive">
            <table class="table">
                <tbody>
                    <tr>
                        <td><b>Hall Ticket No</b></td>
                        <td>@Model.HallTicketNumber</td>
                    </tr>
                    <tr>
                        <td><b>Name</b></td>
                        <td>@Model.FullName</td>
                    </tr>
                    <tr>
                        <td><b>Grand Total</b></td>
                        <td>@Model.Total</td>
                    </tr>
                    <tr>
                        <td><b>Result/Grade</b></td>
                        <td>@Model.Result</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th style="text-align: center;"><b>Subject</b></th>
                        <th style="text-align: center;"><b>Marks</b></th>
                        <th><b></b></th>
                        <th style="text-align: center;"><b>Subject</b></th>
                        <th style="text-align: center;"><b>Marks</b></th>
                    </tr>
                </thead>
                <tbody style="text-align: center;">
                    <tr><td colspan="6"><b>Intermediate 1st Year Results</b></td></tr>
                    <tr>
                        <td>@(string.IsNullOrEmpty(Model.Yr1Subject1) ? "--" : Model.Yr1Subject1)</td>
                        <td>@Model.Yr1Subject1_Marks</td>
                        <td>@(Model.Yr1Subject1_Indicator + Model.Yr1Subject1_Result)</td>
                        <td>@(string.IsNullOrEmpty(Model.Yr1Subject2) ? "--" : Model.Yr1Subject2)</td>
                        <td>@Model.Yr1Subject2_Marks</td>
                        <td>@(Model.Yr1Subject2_Indicator + Model.Yr1Subject2_Result)</td>
                    </tr>
                    <tr>
                        <td>@(string.IsNullOrEmpty(Model.Yr1Subject3) ? "--" : Model.Yr1Subject3)</td>
                        <td>@Model.Yr1Subject3_Marks</td>
                        <td>@(Model.Yr1Subject3_Indicator + Model.Yr1Subject3_Result)</td>
                        <td>@(string.IsNullOrEmpty(Model.Yr1Subject4) ? "--" : Model.Yr1Subject4)</td>
                        <td>@Model.Yr1Subject4_Marks</td>
                        <td>@(Model.Yr1Subject4_Indicator + Model.Yr1Subject4_Result)</td>
                    </tr>
                    <tr>
                        <td>@(string.IsNullOrEmpty(Model.Yr1Subject5) ? "--" : Model.Yr1Subject5)</td>
                        <td>@Model.Yr1Subject5_Marks</td>
                        <td>@(Model.Yr1Subject5_Indicator + Model.Yr1Subject5_Result)</td>
                        <td>@(string.IsNullOrEmpty(Model.Yr1Subject6) ? "--" : Model.Yr1Subject6)</td>
                        <td>@Model.Yr1Subject6_Marks</td>
                        <td>@(Model.Yr1Subject6_Indicator + Model.Yr1Subject6_Result)</td>
                    </tr>
                    <tr><td colspan="6"><b>Intermediate 2nd Year Results</b></td></tr>
                    <tr>
                        <td>@(string.IsNullOrEmpty(Model.Yr2Subject1) ? "--" : Model.Yr2Subject1)</td>
                        <td>@Model.Yr2Subject1_Marks</td>
                        <td>@(Model.Yr2Subject1_Indicator + Model.Yr2Subject1_Result)</td>
                        <td>@(string.IsNullOrEmpty(Model.Yr2Subject2) ? "--" : Model.Yr2Subject2)</td>
                        <td>@Model.Yr2Subject2_Marks</td>
                        <td>@(Model.Yr2Subject2_Indicator + Model.Yr2Subject2_Result)</td>
                    </tr>
                    <tr>
                        <td>@(string.IsNullOrEmpty(Model.Yr2Subject3) ? "--" : Model.Yr2Subject3)</td>
                        <td>@Model.Yr2Subject3_Marks</td>
                        <td>@(Model.Yr2Subject3_Indicator + Model.Yr2Subject3_Result)</td>
                        <td>@(string.IsNullOrEmpty(Model.Yr2Subject4) ? "--" : Model.Yr2Subject4)</td>
                        <td>@Model.Yr2Subject4_Marks</td>
                        <td>@(Model.Yr2Subject4_Indicator + Model.Yr2Subject4_Result)</td>
                    </tr>
                    <tr>
                        <td>@(string.IsNullOrEmpty(Model.Yr2Subject5) ? "--" : Model.Yr2Subject5)</td>
                        <td>@Model.Yr2Subject5_Marks</td>
                        <td>@(Model.Yr2Subject5_Indicator + Model.Yr2Subject5_Result)</td>
                        <td>@(string.IsNullOrEmpty(Model.Yr2Subject6) ? "--" : Model.Yr2Subject6)</td>
                        <td>@Model.Yr2Subject6_Marks</td>
                        <td>@(Model.Yr2Subject6_Indicator + Model.Yr2Subject6_Result)</td>
                    </tr>
                    <tr><td colspan="6"><b>Intermediate Practical Results</b></td></tr>
                    <tr>
                        <td>@(string.IsNullOrEmpty(Model.Yr2Subject7) ? "--" : Model.Yr2Subject7)</td>
                        <td>@Model.Yr2Subject7_Marks</td>
                        <td>@(Model.Yr2Subject7_Indicator + Model.Yr2Subject7_Result)</td>
                        <td>@(string.IsNullOrEmpty(Model.Yr2Subject8) ? "--" : Model.Yr2Subject8)</td>
                        <td>@Model.Yr2Subject8_Marks</td>
                        <td>@(Model.Yr2Subject8_Indicator + Model.Yr2Subject8_Result)</td>
                    </tr>
                    <tr>
                        <td>@(string.IsNullOrEmpty(Model.Yr2Subject9) ? "--" : Model.Yr2Subject9)</td>
                        <td>@Model.Yr2Subject9_Marks</td>
                        <td>@(Model.Yr2Subject9_Indicator + Model.Yr2Subject9_Result)</td>
                        <td>@(string.IsNullOrEmpty(Model.Yr2Subject10) ? "--" : Model.Yr2Subject10)</td>
                        <td>@Model.Yr2Subject10_Marks</td>
                        <td>@(Model.Yr2Subject10_Indicator + Model.Yr2Subject10_Result)</td>
                    </tr>
                    <tr>
                        <td colspan="6">
                            <b>P</b>-Pass, <b>*P</b>-Supp.Pass, <b>F</b>-Fail, <b>*F</b>-Supp.Fail, <b>Comp</b>-CompartmentPass, <b>A</b>-Absent, <b>W</b>-Withheld, <b>M</b>-Malpractice, <b>N</b>-NotRegistered
                            <br />
                            <b>Disclaimer</b> : studenthub.in is not responsible for any inadvertent error that may have crept in the results being published on NET.
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>