@model StudentHubMVC.Models.ViewModels.Home.VMHomeInstitutionSearch

@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_LayoutFrontOthers.cshtml";
}

<style>
    body {
        background-color: #f1f1f1 !important;
    }
</style>

<!-- Start main-content -->
<div class="main-content">
    <!-- Section: inner-header -->
    <section class="inner-header mt-110 bg-gray-eee">

        <div class="container pt-5 pb-5">
            <!-- Section Content -->
            <div class="section-content">
                <div class="row">
                    <div class="col-md-12">
                        <ol class="breadcrumb text-left text-black mt-10">
                            <li><a href="@Url.Action("Index", "Institutions")">Home</a></li>
                            <li class="active text-gray-silver">Training Institutions/Trainers</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container-fluid mt-10 mb-30 pt-10 pb-30">
            <div class="row">
                <div class="col-md-3">
                    <div class="sidebar sidebar-right mt-sm-30 bg-color-details">
                        <div class="widget">
                            <div class="search-form">
                                @using (Html.BeginForm("Index", "Colleges", FormMethod.Get))
                                {
                                    @Html.HiddenFor(model => model.searchType)
                                    @Html.HiddenFor(model => model.searchCourse)
                                    @Html.HiddenFor(model => model.searchArea)
                                    @Html.HiddenFor(model => model.searchCity)
                                    @Html.HiddenFor(model => model.searchTrainingMode)
                                    @Html.HiddenFor(model => model.page)
                                    @Html.HiddenFor(model => model.nextPage)
                                    @Html.HiddenFor(model => model.previousPage)
                                    <div class="input-group">
                                        <input id="searchKeyword" name="searchKeyword" type="text" placeholder="ENTER COLLEGE" class="form-control search-input">
                                        <span class="input-group-btn">
                                            <button type="submit" class="btn search-button" onclick="getInstituteSearchResults(1); return false;"><i class="fa fa-search"></i></button>
                                        </span>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="widget">
                            <h5 class="widget-title line-bottom">INSTITUTION TYPE</h5>
                            <div class="listing_filter" id="institutionTypesFilter">
                                @foreach (KeyValuePair<int, string> type in Model.instituionTypes)
                                {
                                    <div style="width: 100%;" id="streamsSection">
                                        <input id="@type.Key" type="checkbox" name="searchType" value="@type.Key" class="checkbox" style="width: 5%; display: inline-block; float: left; margin-right: 10px; margin-top: 5px;" onchange="typeClick();">
                                        <label class="searchlabel" style="width: 90%;display: inline-block;float: left;">@type.Value</label>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="widget">
                            <h5 class="widget-title line-bottom">TRAINING MODES</h5>
                            <div class="listing_filter" id="institutionTrainingModesFilter">
                                @foreach (KeyValuePair<int, string> trainingMode in Model.instituionTrainingModes)
                                {
                                    <div style="width: 100%;" id="streamsSection">
                                        <input id="@trainingMode.Key" type="checkbox" name="searchTrainingMode" value="@trainingMode.Key" class="checkbox" style="width: 5%; display: inline-block; float: left; margin-right: 10px; margin-top: 5px;" onchange="trainingModeClick();">
                                        <label class="searchlabel" style="width: 90%;display: inline-block;float: left;">@trainingMode.Value</label>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="widget">
                            <h5 class="widget-title line-bottom">COURSES</h5>
                            <div class="listing_filter" id="coursesFilter">
                                @foreach (KeyValuePair<int, string> course in Model.instituionCourses)
                                {
                                    <div style="width: 100%;" id="streamsSection">
                                        <input id="@course.Key" type="checkbox" name="searchCourse" value="@course.Key" class="checkbox" style="width: 5%; display: inline-block; float: left; margin-right: 10px; margin-top: 5px;" onchange="courseClick();">
                                        <label class="searchlabel" style="width: 90%;display: inline-block;float: left;">@course.Value</label>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="widget">
                            <h5 class="widget-title line-bottom">AREAS</h5>
                            <div class="listing_filter" id="areasFilter">
                                @foreach (string area in Model.instituionArea)
                                {
                                    <div style="width: 100%;" id="streamsSection">
                                        <input id="@area" type="checkbox" name="searchArea" value="@area" class="checkbox" style="width: 5%; display: inline-block; float: left; margin-right: 10px; margin-top: 5px;" onchange="areaClick();">
                                        <label class="searchlabel" style="width: 90%;display: inline-block;float: left;">@area</label>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="widget">
                            <h5 class="widget-title line-bottom">CITES</h5>
                            <div class="listing_filter" id="citiesFilter">
                                @foreach (string city in Model.instituionCities)
                                {
                                    <div style="width: 100%;" id="streamsSection">
                                        <input id="@city" type="checkbox" name="searchCity" value="@city" class="checkbox" style="width: 5%; display: inline-block; float: left; margin-right: 10px; margin-top: 5px;" onchange="cityClick();">
                                        <label class="searchlabel" style="width: 90%;display: inline-block;float: left;">@city</label>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="blog-posts bg-color-details">

                        <div class="tagline p-0 pt-10">
                            <div class="row">
                                <div class="col-md-9">
                                    <h2 class="entry-title news text-white mb-0" style="margin-top: 0px !important;">Training Institutions/Trainers near by</h2>
                                    @*<span class="reviews-for">Select from 5,843 PHP Classes</span>*@
                                </div>
                                <div class="col-md-3">
                                    <div class="share text-right">
                                        <ul class="styled-icons icon-circled m-0">
                                            <li><a href="#" data-bg-color="#3A5795" style="background: rgb(58, 87, 149) !important;"><i class="fa fa-facebook text-white"></i></a></li>
                                            <li><a href="#" data-bg-color="#55ACEE" style="background: rgb(85, 172, 238) !important;"><i class="fa fa-twitter text-white"></i></a></li>
                                            <li><a href="#" data-bg-color="#A11312" style="background: rgb(161, 19, 18) !important;"><i class="fa fa-google-plus text-white"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="instituteSearchResults">
                            @Html.Partial("__SearchResults", Model)
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- end main-content -->
@section scripts
{
    <script type="text/javascript">

        function typeClick() {
            var types = [];
            $.each($("#institutionTypesFilter input[type=checkbox]:checked"), function () {
                types.push(this.value);
            });
            //alert(types);
            $("#searchType").val(types.join(','));
        }
        function trainingModeClick() {
            var types = [];
            $.each($("#institutionTrainingModesFilter input[type=checkbox]:checked"), function () {
                types.push(this.value);
            });
            $("#searchTrainingMode").val(types.join(','));
        }
        function courseClick() {
            var types = [];
            $.each($("#coursesFilter input[type=checkbox]:checked"), function () {
                types.push(this.value);
            });
            $("#searchCourse").val(types.join(','));
        }
        function areaClick() {
            var types = [];
            $.each($("#areasFilter input[type=checkbox]:checked"), function () {
                types.push(this.value);
            });
            $("#searchArea").val(types.join(','));
        }
        function cityClick() {
            var types = [];
            $.each($("#citiesFilter input[type=checkbox]:checked"), function () {
                types.push(this.value);
            });
            $("#searchCity").val(types.join(','));
        }

        function getInstituteSearchResults(page) {

            showPleaseWait();
            var Keyword = $("#searchKeyword").val();
            var Types = $("#searchType").val();
            var Cities = $("#searchCity").val();
            var Areas = $("#searchArea").val();
            var Courses = $("#searchCourse").val();
            var TrainingModes = $("#searchTrainingMode").val();
            //alert(Keyword + ' - ' + Types + ' - ' + Cities + ' - ' + Areas + ' - ' + Courses + ' - ' + TrainingModes);
            $.ajax({
                url: "@Url.Action("GetInstituteSearchResultsView", "Institutions")",
                data: { searchKeyword: Keyword, searchType: Types, searchCity: Cities, searchArea: Areas, searchCourse: Courses, searchTrainingMode: TrainingModes, page: page },
                method: "POST",
                success:
                    function (html) {
                        $("#instituteSearchResults").html(html);
                        hidePleaseWait();
                    },
                error:
                    function (jqXHR, textStatus, errorThrown) {
                        hidePleaseWait();
                        alert(textStatus + " - " + errorThrown);
                    }
            });
        }

        function showMoreLess(ele) {
            var tmp = $(ele).parent(".slug_list");

            if ($(ele).text() == "..more") {
                $(tmp).find("ul").css("max-height", "100%");
                $(ele).text("..less");
            }
            else if ($(ele).text() == "..less") {
                $(tmp).find("ul").css("max-height", "68px");
                $(ele).text("..more");
            }
        }

        function filterSearch(section, ele) {

            var valThis = $(ele).val().toLowerCase();
            alert(section);
            $(section + ' input[type=checkbox]').each(function () {
                var text = $("label[for='" + $(this).attr('id') + "']").text().toLowerCase();
                (text.indexOf(valThis) == 0) ? $(this).parent().show() : $(this).parent().hide();
            });
        }

        (function ($) {
            $(document).ready(function () {
                // Options search field
                $('#options').before(
                    '<input id="search" style="display: inline; width:180px;" type="text" />'
                    + '<span><a href="" onclick="return false;" id="search-clear">X</a></span>'
                );
                $('#search').keyup(function () {
                    var valThis = $(this).val().toLowerCase();
                    $('input[type=checkbox]').each(function () {
                        var text = $("label[for='" + $(this).attr('id') + "']").text().toLowerCase();
                        (text.indexOf(valThis) == 0) ? $(this).parent().show() : $(this).parent().hide();
                    });
                });
                // Search clear button
                $("#search-clear").click(function () {
                    $("#search").val("");
                    $('input[type=checkbox]').each(function () {
                        $(this).parent().show();
                    });
                });
            });
        })(jQuery);
    </script>
}