@model StudentHubMVC.Models.ViewModels.VMInsituteBranchContactInfo
@using StudentHubMVC.Models.ViewModels;

@{ 
    var phoneNumberTypes = new Entities().DropdownTypes.Where(d => d.GroupName == "PHONETYPE").Select(d => new SelectListItem()
    {
        Text = d.TypeValue,
        Value = d.DropdownTypeId.ToString()
    });

    var emailTypes = new Entities().DropdownTypes.Where(d => d.GroupName == "EMAILTYPE").Select(d => new SelectListItem()
    {
        Text = d.TypeValue,
        Value = d.DropdownTypeId.ToString()
    });
}

@using (Html.BeginForm("", "", FormMethod.Post))
{
     @Html.AntiForgeryToken()

    <div class="x_panel">
        @*<div class="x_title">

        </div>*@
        <div class="x_content">
            <div class="form-horizontal">

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2">
                            @Html.LabelFor(model => model.Address.Line1, htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.Address.Line1, new { htmlattributes = new { @class = "form-control width100", @maxlength = "50" } })
                            @Html.ValidationMessageFor(model => model.Address.Line1, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-2">
                            @Html.LabelFor(model => model.Address.Line2, htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.Address.Line2, new { htmlattributes = new { @class = "form-control width100", @maxlength = "50" } })
                            @Html.ValidationMessageFor(model => model.Address.Line2, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2">
                            @Html.LabelFor(model => model.Address.Line3, htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.Address.Line3, new { htmlattributes = new { @class = "form-control width100", @maxlength = "50" } })
                            @Html.ValidationMessageFor(model => model.Address.Line3, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2">
                            @Html.LabelFor(model => model.Address.Area, htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.Address.Area, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                            @Html.ValidationMessageFor(model => model.Address.Area, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-2">
                            @Html.LabelFor(model => model.Address.City, htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.Address.City, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                            @Html.ValidationMessageFor(model => model.Address.City, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2">
                            @Html.LabelFor(model => model.Address.Pincode, htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.Address.Pincode, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                            @Html.ValidationMessageFor(model => model.Address.Pincode, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-2">
                            @Html.LabelFor(model => model.Address.State, htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.Address.State, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                            @Html.ValidationMessageFor(model => model.Address.State, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2">
                            @Html.LabelFor(model => model.Address.Country, htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.Address.Country, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Address.Country, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-2">
                            @Html.LabelFor(model => model.Address.MapLocation, htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.Address.MapLocation, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Address.MapLocation, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>



                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            @Html.LabelFor(model => model.Address.Country, htmlAttributes: new { @class = "control-label" })
                            @Html.HiddenFor(model => model.phoneNumbers.Single().Id)
                            <input type="hidden" id="phoneNumbers[0].Id" />
                            <select id="phoneNumbers[0].Type">
                                <option value="">Select</option>
                                <option value="">Select</option>
                            </select>
                            <input type="text" id="phoneNumbers[0].Number" />

                            <div>
                                @{
                                    int index = 0;
                                    foreach (VMPhoneNumber phoneNumber in Model.phoneNumbers)
                                    {
                                        @Html.Hidden("phoneNumber[" + index + "].Id", phoneNumber.Id)
                                        @Html.Hidden("phoneNumber[" + index + "].Status")
                                        @Html.TextBox("phoneNumber[" + index + "].Number", phoneNumber.Number, new { @class = "form-control" })
                                        @Html.DropDownList("phoneNumber[" + index + "].Type", phoneNumberTypes, "Select", new { @class = "form-control" }, phoneNumber.Type, )
                                    }
                                }
                            </div>
                        </div>
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.Address.Country, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
        
}

@section scripts
{
    
}