@using PagedList.Mvc;

@model StudentHubMVC.Models.ViewModels.VMCollegesManager

@{
    ViewBag.Title = "Colleges Manager";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

    var Streams = new Entities().DropdownTypes.Where(type => type.GroupName == "COURSESTREAM").Select(type => new SelectListItem { Text = type.TypeValue, Value = type.DropdownTypeId.ToString() });
}

<div style="width: 100%;">
    <div style="padding: 10px 0px 15px 0px; width: 85%; display: inline-block;">
        <div style="font-size:x-large; display: inline-block;"><u>College Courses Manager</u></div>
    </div>
    <div style="padding-top: 10px; width: 14%; display: inline-block;">
        @Html.ActionLink("Add College", "SaveCollege", null, new { @class = "newaddbutton" })
    </div>
    <div style="width: 100%;">
        @{Html.RenderPartial("pErrorSaveMessages"); }
    </div>
</div>


<div class="x_panel">
    <div style="x_content">
        @using (Html.BeginForm("CollegesManager", "Admin", FormMethod.Get))
        {
        <div class="row" style="padding: 5px 0px;">
            <div class="col-md-3">
                @Html.TextBoxFor(model => model.SearchName, null, new { @class = "form-control", @placeholder = "College Name", @minlength = "3", @maxlength = "20" })
            </div>
            <div class="col-md-3">
                @Html.TextBoxFor(model => model.City, null, new { @class = "form-control", @placeholder = "City", @minlength = "3", @maxlength = "20" })
            </div>
            @*<div class="col-md-3">
            @Html.DropDownListFor(model => model.Stream, Streams, "Select Stream", new { @class = "form-control" })
        </div>*@
            <div class="col-md-2">
                @Html.DropDownListFor(model => model.Status, new List<SelectListItem>
                {
                    new SelectListItem { Value = "ACTIVE", Text = "Active" },
                    new SelectListItem { Value = "INACTIVE", Text = "Inactive" }
                }, "Select Status", new { @class = "form-control" })
            </div>
            <div class="col-md-3">
                <input type="submit" value="SEARCH" class="btn btn-success" />
                <a href="@Url.Action("CollegesManager")" class="btn btn-primary">Cancel</a>
            </div>
        </div>
        }
    </div>
</div>

@if (Model != null && Model.Colleges.Count > 0)
{
    <table class="table">
        <tr>
            <th>
                College Name
            </th>
            <th>
                Type
            </th>
            <th>
                City
            </th>
            <th>
                State
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Colleges)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.coll_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.coll_TypeOfInstitute)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.coll_City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.coll_State)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.coll_Status)
                </td>
                <td>
                    @Html.ActionLink("Edit", "SaveCollege", new { collegeId = item.coll_ID }, new { @class = "editsmall" })
                </td>
            </tr>
        }

    </table>

    @Html.PagedListPager(Model.Colleges, page => Url.Action("CollegesManager", new { page, SearchName = Request.QueryString["SearchName"], City = Request.QueryString["City"], Status = Request.QueryString["Status"] }), new PagedListRenderOptions { Display = PagedListDisplayMode.IfNeeded, DisplayPageCountAndCurrentLocation = true })
}

