@*@model IEnumerable<StudentHubMVC.AllStudentsList>*@

@{
    ViewBag.Title = "Students Manager";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Students Manager</h2>

<p>
    @Html.ActionLink("Add Student", "addstudent")
</p>
<table class="table">
    <tr>
        <th>
            Full Name
        </th>
        <th>
            Email
        </th>
        <th>
            City
        </th>
        <th>
            Status
        </th>
        <th>
            Picture
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item["FullName"]
        </td>
        <td>
            @item["Email"]
        </td>
        <td>
            @item["City"]
        </td>
        <td>
            @item["Status"]
        </td>
        <td>
            <img src="~/assets/img/profilepics/@item["ProfilePic"]" alt="Profile Pic" style="width: 30px;" />
        </td>
        <td>
            @Html.ActionLink("Edit", "SaveStudent", new { id=@item["ID"] }) @*|*@
            @*@Html.ActionLink("Details", "Details", new { id= @item["ID"] }) |
            @Html.ActionLink("Delete", "Delete", new { id= @item["ID"] })*@
        </td>
    </tr>
}

</table>


@{
    MySql.Data.MySqlClient.MySqlCommand sql = new MySql.Data.MySqlClient.MySqlCommand();
    System.Data.DataTable dt = new System.Data.DataTable();
    StudentHubMVC.Liason.Courses crs = new StudentHubMVC.Liason.Courses();
    


    dt.Select("");
    <table>
        <tr>
            <td><div></div></td>
        </tr>
    </table>
}