@model StudentHubMVC.Models.ViewModels.Home.VMHomeIndex
@using System.Configuration

<!--- TOP FEATURED COLLEGES START--->

@*<section class="bg-lighter">
    <div class="container-fluid">
        <div class="section-title text-center mb-30">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="mt-0 mb-5 text-theme-colored-colleges">TOP FEATURED COLLEGES OF INDIA</h2>
                    <p class="font-16 mt-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br> Rem autem voluptatem obcaecati! ipsum dolor sit.</p>
                </div>
            </div>
        </div>
        <div class="section-content">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="participate_colleges">
                        <div class="article_container">
                            <div class="article_img_container"><img src="images/colleges/1.jpg" class="img-responsive"></div>
                            <div class="article_content_overlay">
                                <div class="article_content">

                                    <h3><a href="#"> All India Institute of Medical Sciences - [AIIMS]</a></h3>
                                    <div class="info">
                                        <i class="fa fa-map-marker"></i> New Delhi, Delhi NCR
                                    </div>

                                </div>
                                <div class="likeAndreting">
                                    <div class="like">
                                        <a rel="nofollow" href="javascript:void(0)" href="#">
                                            <i class="fa fa-heart"></i>
                                        </a>
                                    </div>
                                    <div class="rating"><span> 10 </span>&nbsp;&nbsp;/&nbsp;&nbsp;10</div>
                                </div>
                            </div>
                        </div>
                        <div class="collegeinfo_wrapper">
                            <div class="detail">
                                <h4><a href="#">B.Sc (Medicine)</a></h4>
                                <div class="fees"><span><i class="fa fa-inr"></i> 1.06 k</span>/ Year </div>
                                <div class="rating">
                                    <div class="rate_con"><span>10</span></div>
                                </div>
                            </div>
                            <div class="view_all"><a href="#">VIEW ALL COURSES &amp; FEES</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="participate_colleges">
                        <div class="article_container">
                            <div class="article_img_container"><img src="images/colleges/1.jpg" class="img-responsive"></div>
                            <div class="article_content_overlay">
                                <div class="article_content">

                                    <h3><a href="#"> All India Institute of Medical Sciences - [AIIMS]</a></h3>
                                    <div class="info">
                                        <i class="fa fa-map-marker"></i> New Delhi, Delhi NCR
                                    </div>

                                </div>
                                <div class="likeAndreting">
                                    <div class="like">
                                        <a rel="nofollow" href="javascript:void(0)" href="#">
                                            <i class="fa fa-heart"></i>
                                        </a>
                                    </div>
                                    <div class="rating"><span> 10 </span>&nbsp;&nbsp;/&nbsp;&nbsp;10</div>
                                </div>
                            </div>
                        </div>
                        <div class="collegeinfo_wrapper">
                            <div class="detail">
                                <h4><a href="#">B.Sc (Medicine)</a></h4>
                                <div class="fees"><span><i class="fa fa-inr"></i> 1.06 k</span>/ Year </div>
                                <div class="rating">
                                    <div class="rate_con"><span>10</span></div>
                                </div>
                            </div>
                            <div class="view_all"><a href="#">VIEW ALL COURSES &amp; FEES</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="participate_colleges">
                        <div class="article_container">
                            <div class="article_img_container"><img src="images/colleges/1.jpg" class="img-responsive"></div>
                            <div class="article_content_overlay">
                                <div class="article_content">

                                    <h3><a href="#"> All India Institute of Medical Sciences - [AIIMS]</a></h3>
                                    <div class="info">
                                        <i class="fa fa-map-marker"></i> New Delhi, Delhi NCR
                                    </div>

                                </div>
                                <div class="likeAndreting">
                                    <div class="like">
                                        <a rel="nofollow" href="javascript:void(0)" href="#">
                                            <i class="fa fa-heart"></i>
                                        </a>
                                    </div>
                                    <div class="rating"><span> 10 </span>&nbsp;&nbsp;/&nbsp;&nbsp;10</div>
                                </div>
                            </div>
                        </div>
                        <div class="collegeinfo_wrapper">
                            <div class="detail">
                                <h4><a href="#">B.Sc (Medicine)</a></h4>
                                <div class="fees"><span><i class="fa fa-inr"></i> 1.06 k</span>/ Year </div>
                                <div class="rating">
                                    <div class="rate_con"><span>10</span></div>
                                </div>
                            </div>
                            <div class="view_all"><a href="#">VIEW ALL COURSES &amp; FEES</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="participate_colleges">
                        <div class="article_container">
                            <div class="article_img_container"><img src="images/colleges/1.jpg" class="img-responsive"></div>
                            <div class="article_content_overlay">
                                <div class="article_content">

                                    <h3><a href="#"> All India Institute of Medical Sciences - [AIIMS]</a></h3>
                                    <div class="info">
                                        <i class="fa fa-map-marker"></i> New Delhi, Delhi NCR
                                    </div>

                                </div>
                                <div class="likeAndreting">
                                    <div class="like">
                                        <a rel="nofollow" href="javascript:void(0)" href="#">
                                            <i class="fa fa-heart"></i>
                                        </a>
                                    </div>
                                    <div class="rating"><span> 10 </span>&nbsp;&nbsp;/&nbsp;&nbsp;10</div>
                                </div>
                            </div>
                        </div>
                        <div class="collegeinfo_wrapper">
                            <div class="detail">
                                <h4><a href="#">B.Sc (Medicine)</a></h4>
                                <div class="fees"><span><i class="fa fa-inr"></i> 1.06 k</span>/ Year </div>
                                <div class="rating">
                                    <div class="rate_con"><span>10</span></div>
                                </div>
                            </div>
                            <div class="view_all"><a href="#">VIEW ALL COURSES &amp; FEES</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="participate_colleges">
                        <div class="article_container">
                            <div class="article_img_container"><img src="images/colleges/1.jpg" class="img-responsive"></div>
                            <div class="article_content_overlay">
                                <div class="article_content">

                                    <h3><a href="#"> All India Institute of Medical Sciences - [AIIMS]</a></h3>
                                    <div class="info">
                                        <i class="fa fa-map-marker"></i> New Delhi, Delhi NCR
                                    </div>

                                </div>
                                <div class="likeAndreting">
                                    <div class="like">
                                        <a rel="nofollow" href="javascript:void(0)" href="#">
                                            <i class="fa fa-heart"></i>
                                        </a>
                                    </div>
                                    <div class="rating"><span> 10 </span>&nbsp;&nbsp;/&nbsp;&nbsp;10</div>
                                </div>
                            </div>
                        </div>
                        <div class="collegeinfo_wrapper">
                            <div class="detail">
                                <h4><a href="#">B.Sc (Medicine)</a></h4>
                                <div class="fees"><span><i class="fa fa-inr"></i> 1.06 k</span>/ Year </div>
                                <div class="rating">
                                    <div class="rate_con"><span>10</span></div>
                                </div>
                            </div>
                            <div class="view_all"><a href="#">VIEW ALL COURSES &amp; FEES</a></div>
                        </div>
                    </div>
                </div>


                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="participate_colleges">
                        <div class="article_container">
                            <div class="article_img_container"><img src="images/colleges/2.jpg" class="img-responsive"></div>
                            <div class="article_content_overlay">
                                <div class="article_content">

                                    <h3><a href="#"> National Law School of India University - [NLSIU]</a></h3>
                                    <div class="info">
                                        <i class="fa fa-map-marker"></i> Banglore Karnataka
                                    </div>

                                </div>
                                <div class="likeAndreting">
                                    <div class="like">
                                        <a rel="nofollow" href="javascript:void(0)" href="#">
                                            <i class="fa fa-heart"></i>
                                        </a>
                                    </div>
                                    <div class="rating"><span> 9.9 </span>&nbsp;&nbsp;/&nbsp;&nbsp;10</div>
                                </div>
                            </div>
                        </div>
                        <div class="collegeinfo_wrapper">
                            <div class="detail">
                                <h4><a href="#">LLB</a></h4>
                                <div class="fees"><span><i class="fa fa-inr"></i> 1.28 l</span>/ Year </div>
                                <div class="rating">
                                    <div class="rate_con"><span>9.9</span></div>
                                </div>
                            </div>
                            <div class="view_all"><a href="#">VIEW ALL COURSES &amp; FEES</a></div>
                        </div>
                    </div>
                </div>


                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="participate_colleges">
                        <div class="article_container">
                            <div class="article_img_container"><img src="images/colleges/3.jpg" class="img-responsive"></div>
                            <div class="article_content_overlay">
                                <div class="article_content">

                                    <h3><a href="#"> National Institute of Design - [NID]</a></h3>
                                    <div class="info">
                                        <i class="fa fa-map-marker"></i> Ahmedabad, Gujarath
                                    </div>

                                </div>
                                <div class="likeAndreting">
                                    <div class="like">
                                        <a rel="nofollow" href="javascript:void(0)" href="#">
                                            <i class="fa fa-heart"></i>
                                        </a>
                                    </div>
                                    <div class="rating"><span> 9.9 </span>&nbsp;&nbsp;/&nbsp;&nbsp;10</div>
                                </div>
                            </div>
                        </div>
                        <div class="collegeinfo_wrapper">
                            <div class="detail">
                                <h4><a href="#">B.DES</a></h4>
                                <div class="fees"><span><i class="fa fa-inr"></i> 2.84 l</span>/ Year </div>
                                <div class="rating">
                                    <div class="rate_con"><span>9.9</span></div>
                                </div>
                            </div>
                            <div class="view_all"><a href="#">VIEW ALL COURSES &amp; FEES</a></div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="participate_colleges">
                        <div class="article_container">
                            <div class="article_img_container"><img src="images/colleges/4.jpg" class="img-responsive"></div>
                            <div class="article_content_overlay">
                                <div class="article_content">

                                    <h3><a href="#">Indian Institute of Technology - [IIT]</a></h3>
                                    <div class="info">
                                        <i class="fa fa-map-marker"></i> Kharagpur, West Bengal
                                    </div>

                                </div>
                                <div class="likeAndreting">
                                    <div class="like">
                                        <a rel="nofollow" href="javascript:void(0)" href="#">
                                            <i class="fa fa-heart"></i>
                                        </a>
                                    </div>
                                    <div class="rating"><span> 9.9 </span>&nbsp;&nbsp;/&nbsp;&nbsp;10</div>
                                </div>
                            </div>
                        </div>
                        <div class="collegeinfo_wrapper">
                            <div class="detail">
                                <h4><a href="#">BE.B.Tech</a></h4>
                                <div class="fees"><span><i class="fa fa-inr"></i> 71.38 k</span>/ Year </div>
                                <div class="rating">
                                    <div class="rate_con"><span>9.9</span></div>
                                </div>
                            </div>
                            <div class="view_all"><a href="#">VIEW ALL COURSES &amp; FEES</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>*@

<section class="bg-lighter">
    <div class="container-fluid">
        <div class="section-title text-center mb-30">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="mt-0 mb-5 text-theme-colored-colleges">TOP FEATURED COLLEGES OF INDIA</h2>
                    <p class="font-16 mt-0"many reputed colleges with top courses and campus placements for all the students</p>
                </div>
            </div>
        </div>
        <div class="section-content">
            <div class="row">
                @if (Model.Colleges != null)
                {
                    foreach (Colleges college in Model.Colleges)
                    {
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="participate_colleges">
                                <div class="article_container">
                                    <div class="article_img_container">
                                        @if (college.coll_CoverPic != null && college.coll_CoverPic != "")
                                        {
                                            <img src="@(ConfigurationManager.AppSettings["Colleges"].Replace("~/", "/") + college.coll_CoverPic)" 
                                                 style="height: 175px !important; width: 100% !important;" class="img-responsive">
                                        }
                                        else
                                        {
                                            <img src="@(ConfigurationManager.AppSettings["Colleges"].Replace("~/", "/") + "default.jpeg")" 
                                                 style="height: 175px !important; width: 100% !important;" class="img-responsive">
                                        }

                                    </div>
                                    <div class="article_content_overlay">
                                        <div class="article_content">
                                            <h3><a href="@Url.Action("Details", "Colleges", new { name = college.coll_UrlKeyword })"> @college.coll_Name</a></h3>
                                            <div class="info">
                                                <i class="fa fa-map-marker"></i> @college.coll_City, @college.coll_State
                                            </div>
                                        </div>
                                        <div class="likeAndreting">
                                            <div class="like">
                                                <a rel="nofollow" href="javascript:void(0)" href="#">
                                                    <i class="fa fa-heart"></i>
                                                </a>
                                            </div>
                                            <div class="rating"><span> 10 </span>&nbsp;&nbsp;/&nbsp;&nbsp;10</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="collegeinfo_wrapper">
                                    <div class="detail">
                                        <h4><a href="#">@college.CollegeTypeDropdownTypes.TypeValue</a></h4>
                                        @*<div class="fees"><span><i class="fa fa-inr"></i> @college.coll_AveragePackage</span> / Year </div>*@
                                        <div class="rating">
                                            <div class="rate_con"><span>10</span></div>
                                        </div>
                                    </div>
                                    <div class="view_all"><a href="#">VIEW ALL COURSES &amp; FEES</a></div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</section>
<!----TOP FEATURED COLLEGES END--->
